<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/united/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="static/images/heart.png" height="60px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/tableau">Tableau Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ml_live_form">Machine Learning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report">Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us">About Us</a>              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
          </ul>
        </div>
    </div>
    </nav>
  <div class="container-fluid text-center">
    <h1>About Us</h1>
    <hr>
    <div class="row">
      <div class="col-md-6" style="font-size:18px;">
        <h2>Isbelis Castro</h2>
        <img src="{{ url_for('static', filename='images/team_member1.jpg') }}" alt="Isbelis Castro" class="img-fluid" width="200">
          <a href="https://github.com/Isbelis">Isbelis's GitHub</a>
      </div>
      <div class="col-md-6" style="font-size:18px;">
        <h2>Sam Hoemann</h2>
        <img src="static/images/team_member2.jpg" alt="Sam Hoemann" class="img-fluid" width="200">
          <a href="https://github.com/Corzalite">Sam's GitHub</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="font-size:18px;">
        <h2>Gavin Plemon</h2>
        <img src="static/images/team_member3.jpg" alt="Gavin Plemon" class="img-fluid" width="200">
          <a href="https://github.com/p-lemon00">Gavin's GitHub</a>
      </div>
      <div class="col-md-6" style="font-size:18px;">
        <h2>Stephen Ferrier</h2>
        <img src="static/images/team_member4.jpg" alt="Stephen Ferrier" class="img-fluid" width="200" >
          <a href="https://github.com/Stephenferrier">Stephen's GitHub</a>
      </div>
    </div>
  </div>

</body>
</html>